@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 300;

    background-color:#E9EAEE;   
}

header, head, h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway','Helvetica Neue', 'Helvetica', sans-serif;
}

footer {
    font-size:12px;
    background-color:#afb3c2;
    border-top:3px solid #d87e28;
    border-spacing: 1em;
    padding-left:3em;

}

header {
    padding-top:3em;

}

#motto {
        display:none;
    }

#headline {
    font-style:italic;
    
}

#info {
    background-color:#dbdce3;
    text-align:center;
    padding-top:1em;
    padding-bottom:0.5em;
}

#menu {
    background-color:#dbdce3;
    padding-top:1em;
    padding-bottom:1em;
}

#story {
    background-color:#dbdce3;
    padding-top:1em;
    padding-bottom:1em;
    padding-left:1em;
    padding-right:1em;
}

#storyIMG {
    margin-left:1em;
    border-radius:5px;
    max-height: 300px;
    float:right;
}


#svgIcon {
        fill:#d87e28;
        height:1.5em;
        margin-bottom:1em;
        display:inline;    
        
    
}

.infoIMG {
    height:2em;
    
}

.coffeeIMG{
	height:7em;
	float:left;
}

.rounded {
    border-radius:5px;
}

#headlineIMG {
    fill:#d87e28;
    display:none;
    
}

.menuitem {
    font-weight:400;
}

.menuDesc {
    
    padding-left:1em;
    font-style:italic;
}

h2 {
    background-color: #bc6026;
    padding-bottom: 16px;
}

h3 {
    color:#bc6026;
    font-weight:400;
    font-size:2em;
    text-align: center;
}

h4 {
    font-size:1.5em;
}

nav {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;

    background-color:#181c22;
    color: white;
    font-size: 16px;
    width: 100%;
    
}

svg {
    height: 16px;
    
    fill: white;
}

svg:hover {
    fill:#d87e28;
}

ul {
    padding-left: 15px;

}

li {
    
    padding-left:0.5em;
    padding-bottom:0.5em;
    padding-top:0.5em;
    padding-right:0.5em;
    display:inline-block;
    font-variant: small-caps;
    
}

a:link.nav, a:visited {
    text-decoration:none;
    color: white;
}

a:hover.nav {
    color:#d87e28;
}


@media (min-width: 768px) {
    body {
        font-size: 20px;
    }

    header {
        background-image: url("../img/background-sm.jpg");
        color:white;
        text-align:right;
        min-height:550px;
    }

    #motto {
        display:block;
    }

    #headline {
        font-size:1.25em;
        text-align:center;
        padding-top:3em;
        padding-bottom:3em;
    }

    #headlineIMG {
        height:1.5em;
        margin-bottom:1em;
        display:inline;
    }

    h2 {
        text-align: center;
        padding-bottom:20px;
    }
    nav {
        background-color:rgba(24, 28, 34, 0.8);
    }
    li {
        padding-left:1em;
        padding-right:1em;
    }
    svg {
        height: 20px;
        
    }

    #storyIMG {
        max-height:400px;
    }

    .credits {
        text-align:right;
        padding-right:2em;
    }

}

@media (min-width: 992px) {
    header {
        background-image: url("../img/background-md.jpg");
    }
    h1 {
        font-size: 4em;
    
    }
}

@media (min-width: 1200px) {
    header {
        background-image: url("../img/background-lg.jpg");
        
    }
}