
    <header>
        <h1 class="container">
            Dawg Coffee <br /> Orders
        </h1>
        <div id="motto" class="container">Supplying Beans to Sleepy Huskies Since 2015</div>
    </header>
    <div id="menu" class="container">
	
		<div class="form-inline pull-right">
            <label for="search">
				<i class="fa fa-search"></i>
			</label>
            <input name="query" placeholder="Search" id="search" ng-model="searchQuery">
        </div>


        <table class="row">
            <tr ng-repeat="order in orders | orderBy:alphabetical | filter:searchQuery" class="col-md-6">
			<br><br>
				<td>
				 <div id="story">
					<a ng-href = "#/orders/{{order.id}}"><h3>{{order.name}}</h3></a>
					<p>{{order.description}}</p>
					<p>{{order.price | currency:'$':0}}/pound</p>
				 </div>
				</td>
            </tr>
        </table>

    </div>
