<!--    Partial for the /events page    -->
<div class="eventContainer" ng-controller="newEventCtrl" id="centerContent">
    
<!--    Form to create a new event     -->
    <form role="form" name="eventForm" novalidate = "">
        <h1>Create a Sponsored Event</h1>
        
<!--        Event location      -->
        <div class="form-group">
            <label for="city">City:</label>
            <div class="invalidEntry" ng-show="eventForm.city.$touched">
				<span ng-show="eventForm.city.$error.required">Please input a city.
                </span>
            </div>
            <input type="text" name="city" class="form-control" ng-model="eventObject.city" ng-required="true">
        </div>
        
<!--        Title of event      -->
        <div class="form-group">
            <label for="title">Event Title:</label>
            <div class="invalidEntry" ng-show="eventForm.title.$touched">
				<span ng-show="eventForm.title.$error.required">Your event must have a title.
                </span>
            </div>
            <input type="text" name="title" class="form-control" ng-model="eventObject.title" ng-required="true">
        </div>
        
<!--        Event Description      -->
        <div class="form-group css-form">
            <label for="comment">Event Description:</label>
            <div class="invalidEntry" ng-show="eventForm.comment.$touched">
                <span ng-show="eventForm.comment.$error.required">Your event must have a description.
                </span>
            </div>
            <textarea class="form-control" rows="5" name="comment" ng-model="eventObject.body" ng-required="true"></textarea>
        </div>
        
<!--        Date and time      -->
        <div class="form-group">
          <label for="date">Event date and time:</label>
            <div class="invalidEntry" ng-show="eventForm.date.$touched">
                <span ng-show="eventForm.date.$error.required">Please select a time.
                </span>
            </div>
          <input type="datetime-local" name="date" id="date" class="form-control" ng-model="eventObject.dateTime" ng-required="true">
        </div>
        
<!--        Duration of paid event adspace    -->
        <div class="form-group">
          <label for="sel1">For how many days would you like to display the event?</label>
            <div class="invalidEntry" ng-show="eventForm.duration.$touched">
                <span ng-show="eventForm.duration.$error.required">Please select a duration.
                </span>
            </div>
          <select class="form-control" name="duration" ng-model="eventObject.duration" ng-required="true">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </div>
        
<!--        Submission      -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary form-control" ng-click=createEvent() ng-disabled="eventForm.$invalid">Purchase</button>
        </div>
    </form>
</div>
