<section id="home" class="row row-centered">
    

    
    <div class="container" id ="scContainer">
        <div class="info" ng-bind-html="trustPlayer"></div><!-- soundcloud player-->
    </div>   

        <div class="welcomeText">
            Welcome To LocalSound
            <br /><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span><span class="glyphicon glyphicon-menu-right" aria-hidden="true">
        </div>

<!--    Event area of home page   -->
    <div id="leftContent" ng-controller="newEventCtrl" class="col-md-3 col-sm-3 col-centered collapse in">
        <h1 id="header">Featured Events</h1>
        
            <div id="events" ng-repeat="event in events | limitTo:10 | orderEventBy:'duration'">
                <h3>{{event.title}}</h3>
                <p>{{event.city}}</p>
                <p>{{event.dateTime | fDate:"MM/dd/yyyy 'at' h:mma"}}</p>
                <p>{{event.body}}</p>
                <a sref="{{event.link}}"></a>
            </div>
    </div>
     
        <div id="centerContent" class="col-md-5 col-sm-5 col-centered" class="container">
              <div class="tab-content">
                <div class="tab-pane active" id="featured">
                  <h1>Featured Songs</h1>
                    <table class="table">
                        <tr>
                            <th>Avatar</th>
                            <th>Rating</th>
                            <th>Username</th>
                            <th>Date Posted</th>
                            <th>SoundCloud Player</th>
                          </tr>
                        <tr ng-repeat="post in posts | orderBy: '-rating' | filter:searchQuery">
                        <td><img ng-src="{{post.avatar}}" height="50px" width="50px"></td>
                        <td>
                            <button class="btn btn-default" type="submit" id="upvote{{post.$id}}" ng-click="upVote(post.$id)" ng-show="isLoggedIn && !hasVoted[post.$id]"><i class="glyphicon glyphicon-arrow-up"></i></button>
                            {{post.rating}}
                            <button class="btn btn-default" type="submit" id="downvote{{post.$id}}" ng-click="downVote(post.$id)" ng-show="isLoggedIn && !hasVoted[post.$id]"><i class="glyphicon glyphicon-arrow-down"></i></button>
                        </td>
                        <td>{{post.username}}</td>
                        <td>{{post.dateTime | fDate:"MM/dd/yyyy 'at' h:mma"}}</td>
                        <td>
                          <div class="infoWrapper"><!-- Shows button corresponding to the Soundcloud player frame-->
                            <button class="btn btn-default" type="submit" id="show{{post.$id}}" ng-click="loadInfo(post.$id, post.soundcloud_url)" ng-show="!isVisible[post.$id]">Show</button>
                            <button class="btn btn-default" type="submit" id="hide{{post.$id}}" ng-click="loadInfo(post.$id, post.soundcloud_url)" ng-show="isVisible[post.$id]">Hide</button>
                          </div>
                        </td>
                      </tr>
                    </table>

                </div>
                </div>
            </div>
            
            <div id="rightContent" class="col-md-4 col-sm-4 col-centered collapse in">
                <h1 id="header">Activity</h1>
                    <table class="table">
                            <tr>
                                <th>Avatar</th>
                                <th>Rating</th>
                                <th>Username</th>
                                <th>Date Posted</th>
                                <th>SoundCloud Player</th>
                              </tr>
                
                            <tr ng-repeat="post in posts | orderBy: 'dateTime' | limitTo:10">
                            <td><img ng-src="{{post.avatar}}" height="50px" width="50px"></td>
                            <td>
                                <button class="btn btn-default" type="submit" id="upvote{{post.$id}}" ng-click="upVote(post.$id)" ng-show="isLoggedIn && !hasVoted[post.$id]"><i class="glyphicon glyphicon-arrow-up"></i></button>
                                {{post.rating}}
                                <button class="btn btn-default" type="submit" id="downvote{{post.$id}}" ng-click="downVote(post.$id)" ng-show="isLoggedIn && !hasVoted[post.$id]"><i class="glyphicon glyphicon-arrow-down"></i></button>
                            </td>
                            <td>{{post.username}}</td>
                            <td>{{post.dateTime | fDate:"MM/dd/yyyy 'at' h:mma"}}</td>
                            <td>
                              <div class="infoWrapper"><!-- Shows button corresponding to the Soundcloud player frame-->
                                <button class="btn btn-default" type="submit" id="show{{post.$id}}" ng-click="loadInfo(post.$id, post.soundcloud_url)" ng-show="!isVisible[post.$id]">Show</button>
                                <button class="btn btn-default" type="submit" id="hide{{post.$id}}" ng-click="loadInfo(post.$id, post.soundcloud_url)" ng-show="isVisible[post.$id]">Hide</button>
                              </div>
                            </td>
                          </tr>
                        </table>
            </div>
</section>