<div class="container profile" ng-controller="profileCtrl">
     <h1>{{user.username}}</h1>
    <div class="container col-md-4">
        <div class="img-wrapper">
            <img src="{{user.avatarUrl}}">
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
        </div>
        <div class="user_info">
            <p> <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>{{user.email}} </p>
            <p><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>{{user.soundcloudUrl}}</p>
            <p><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>{{user.userType}}</p>
            <p><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>{{user.zipcode}}</p>
        </div>
    </div>
    <div class="container profile_posts">
        <h3>Recent Activity: </h3>
        <p>{{user.posts}} Posts holder</p>
        <p>{{user.posts}} Posts holder</p>
        <p>{{user.posts}} Posts holder</p>
        <p>{{user.posts}} Posts holder</p>
    </div>   
</div>

