<div class="container profile" ng-controller="profileCtrl" id="centerContent">
    <div class="container-fluid">
        <h1>{{user.username}}</h1>
        <div class="img-wrapper">
            <img src="{{user.avatarUrl}}">
            <!--<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>-->
        </div>
        <div class="user_info">
            <p>
                <button ng-model="button" class="btn btn-xs btn-default" ng-disabled="true">Edit <span class="glyphicon glyphicon-wrench"></span></button>
                Email: <a href="{{user.soundcloudUrl}}">{{user.email}}</a>
            </p>
            <p>
                <button ng-model="button" class="btn btn-xs btn-default" ng-disabled="true">Edit <span class="glyphicon glyphicon-wrench"></span></button>
                SoundCloud: <a href="{{user.soundcloudUrl}}">{{user.username}}</a>
            </p>
            <p>
                <button ng-model="button" class="btn btn-xs btn-default" ng-disabled="true">Edit <span class="glyphicon glyphicon-wrench"></span></button>
                User Type: {{user.userType}}

            </p>
            <p>
                <button ng-model="button" class="btn btn-xs btn-default" ng-disabled="true">Edit <span class="glyphicon glyphicon-wrench"></span></button>
                ZipCode: {{user.zipCode}}

            </p>


            <!--
            <p> <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>{{user.email}} </p>
            <p><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>{{user.soundcloudUrl}}</p>
            <p><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>{{user.userType}}</p>
            <p><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>{{user.zipcode}}</p>-->
        </div>

        <h2>Your Posts</h2>
        <table class="table">
            <tr>
                <th>Avatar</th>
                <th>Rating</th>
                <th>Username</th>
                <th>Date Posted</th>
                <th>SoundCloud Player</th>
            </tr>

            <tr ng-repeat="post in posts | orderBy:post_date | limitTo:10" ng-onclick="loadInfo($index)">
                <td>
                    <img ng-src="{{user.avatar_url}}"></td>
                <td>
                    <button class="btn btn-default" type="submit" id="upvote{{$index}}" ng-click="upvote($index)"><i class="glyphicon glyphicon-arrow-up"></i></button>
                    {{post.rating}}
                                <button class="btn btn-default" type="submit" id="downvote{{$index}}" ng-click="downvote($index)"><i class="glyphicon glyphicon-arrow-down"></i></button>
                </td>
                <td>{{user.username}}</td>
                <td>{{post.post_date | fDate:"MM/dd/yyyy 'at' h:mma"}}</td>
                <td>
                    <div class="infoWrapper">
                        <!-- Shows button corresponding to the Soundcloud player frame-->
                        <button class="btn btn-default" type="submit" id="show{{$index}}" ng-click="loadInfo($index)" ng-show="isVisible[{{$index}}]">Show</button>
                        <button class="btn btn-default" type="submit" id="hide{{$index}}" ng-click="loadInfo($index)" ng-show="isHidden[{{$index}}]">Hide</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>

